@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(252, 0, 147);
  border-radius: 50px;
}
body {
  perspective: 500px;
  user-select: none;
  overflow-x: hidden;
}
.control {
  transition: 0.2s;
}
#AllInBody {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 50px 0px;
  background: linear-gradient(
      45deg,
      rgba(0, 238, 255, 0.842),
      rgba(255, 0, 149, 0.651)
    ),
    url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  #ContentWarpper {
    width: 25vw;
    min-height: 70vh;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgb(20, 20, 20);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    transition: 0.2s;
    #WholeCardContainer {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      #MusicImg {
        width: 150px;
        height: 150px;
        margin: 10px auto;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          border: 5px solid rgb(255, 0, 106);
          object-fit: cover;
          transition: 0.2s;
          display: inline-block;
        }
      }
      #MusicDesc {
        margin: 0px 0px 20px 0px;
        h2 {
          font-size: 2rem;
          font-family: 'Reggae One', cursive;
          color: rgb(252, 0, 147);
          text-shadow: 1px 1px 2px black;
        }
        p {
          font-weight: 900;
          padding: 5px 10px;
          margin: auto;
          text-align: center;
          color: white;
        }
      }
      #MusicControls {
        display: flex;
        padding: 20px 0px 0px 0px;
        justify-content: space-around;
        align-items: center;
        div {
          cursor: pointer;
          &:nth-child(odd) {
            i {
              border: none;
              border: 2px solid transparent;
              &:hover {
                border-color: rgb(255, 0, 128);
                background: none;
                color: rgb(255, 0, 128);
              }
            }
          }
          i {
            font-size: 1.1rem;
            transition: 0.3s;
            color: rgb(255, 0, 76);
            padding: 15px;
            border-radius: 100%;
            transition: 0.3s;
            border: 2px solid rgb(255, 0, 128);
            &:hover {
              background: rgb(255, 0, 128);
              color: white;
            }
          }
        }
      }
    }
    #Progress_elements {
      padding: 10px 0px;
      background: linear-gradient(to left, rgb(0, 238, 255), rgb(255, 0, 106));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Goldman', cursive;
      font-weight: 900;
      text-shadow: 1px 1px 1px white;
      #Progressduration {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      #ProgressMeterContainer {
        width: 90%;
        height: 7px;
        background: white;
        border-radius: 50px;
        margin: 20px auto 5px auto;
        cursor: pointer;
        #ProgrssMeterChild {
          width: 0%;
          height: 100%;
          background: linear-gradient(
            45deg,
            rgb(0, 225, 255),
            rgb(255, 0, 119)
          );
          border-radius: 50px;
        }
      }
    }
  }
}

footer {
  background: rgb(255, 0, 119);
  padding: 5px 0px;
  text-align: center;
  color: white;
  a {
    text-decoration: none;
    color: rgb(0, 255, 255);
  }
}

.anime {
  animation: imgAnime 3s linear infinite both;
}
@keyframes imgAnime {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1125px) {
  #ContentWarpper {
    width: 40vw !important;
  }
}
@media screen and (max-width: 900px) {
  * {
    cursor: default !important;
  }
  #ContentWarpper {
    width: 50vw !important;
  }
}

@media screen and (max-width: 567px) {
  #ContentWarpper {
    width: 90vw !important;
    #MusicDesc {
      p {
        padding: 5px 2px !important;
      }
    }
  }
}
